.xkjhx { 
  font-size: 64px;
  padding-top: 43px;
  padding-left: 18px;
  margin-left: 0px;
  padding-left: 56px;
  margin-right: 54px;
  margin-left: 91px;
  padding-bottom: 44px;
  border-bottom-width: 73px;
  font-size: 68px;
  border-right-width: 9px;
  font-size: 4px;
  font-size: 36px;
  padding-right: 30px;
  line-height: 44px;
  border-left-width: 14px;
  border-right-width: 70px;
  border-right-width: 82px;
  padding-left: 52px;
  padding-top: 54px;
  margin-right: 9px;
  margin-right: 92px;
  line-height: 9px;
  border-left-width: 1px;
  margin-left: 12px;
  border-bottom-width: 31px;
  padding-bottom: 68px;
  border-left-width: 52px;
  border-bottom-width: 17px;
  margin-bottom: 74px;
  font-size: 73px;
  padding-right: 24px;
  border-bottom-width: 21px;
  font-size: 62px;
  margin-left: 61px;
  margin-bottom: 92px;
  border-left-width: 57px;
  border-left-width: 48px;
}
