.xkjhx { 
  font-size: 64px;
  padding-top: 43px;
  padding-left: 18px;
  margin-left: 0px;
  padding-left: 56px;
  margin-right: 54px;
  margin-left: 91px;
  padding-bottom: 44px;
  border-bottom-width: 73px;
  font-size: 68px;
  border-right-width: 9px;
  font-size: 4px;
  font-size: 36px;
  padding-right: 30px;
  line-height: 44px;
  border-left-width: 14px;
  border-right-width: 70px;
  border-right-width: 82px;
  padding-left: 52px;
  padding-top: 54px;
  margin-right: 9px;
}
